<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv=”Content-Type” content=”text/html; charset="UTF-8">

  <script type="text/javascript" src="/js/libs/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/libs/bootstrap.min.js" ></script>
  <script type="text/javascript" src="/js/main.js" ></script>
  <script type="text/javascript" src="/js/prettify.js"></script>

  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="/css/prettify.css">

  <title> <%= title %> </title>
  <style type="text/css">
    body {
      padding: 50px;
      font: 13px Helvetica, Arial, sans-serif;
      width:100%;
      text-align: center;
    }
    
   .container{
     text-align: left;
    }

  </style>
</head>
<body class="body" onload="prettyPrint();">

